.border-primary {
    --tw-border-opacity: 1;
    border-color: rgb(var(--primary) / var(--tw-border-opacity));
    margin-bottom: 2px;
    border-bottom-width: 0.1875rem;
}

#topbar-cta-button a {
    display: flex;
    align-items: center;
    padding: 0.475rem 1rem !important;
    gap: 0.5rem;
    color: #fff !important;
    border-radius: 0.25rem;
    font-weight: 500;
    letter-spacing: 0.4px;
}