openapi: 3.0.1
info:
  title: MultiWoven API
  version: 1.0.0
servers:
- url: https://api.multiwoven.com
paths:
  "/api/v1/models":
    get:
      summary: Lists all models
      tags:
      - Models
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                            description:
                              type: string
                            query:
                              type: string
                            query_type:
                              type: string
                            created_at:
                              type: string
                              format: date-time
                            updated_at:
                              type: string
                              format: date-time
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                      first:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                      last:
                        type: string
    post:
      summary: Creates a model
      tags:
      - Models
      security:
      - bearerAuth: []
      parameters: []
      responses:
        '201':
          description: Model created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                          description:
                            type: string
                          query:
                            type: string
                          query_type:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: object
                  properties:
                    connector_id:
                      type: integer
                    name:
                      type: string
                    query:
                      type: string
                    query_type:
                      type: string
                  required:
                  - connector_id
                  - name
                  - query
                  - query_type

  "/api/v1/models/{id}":
    get:
      summary: Retrieves a model
      tags:
      - Models
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                          description:
                            type: string
                          query:
                            type: string
                          query_type:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
    put:
      summary: Updates a model
      tags:
      - Models
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Model updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                          description:
                            type: string
                          query:
                            type: string
                          query_type:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: object
                  properties:
                    connector_id:
                      type: integer
                    name:
                      type: string
                    query:
                      type: string
                    query_type:
                      type: string
                  required:
                  - connector_id
                  - name
                  - query
                  - query_type
    delete:
      summary: Deletes a model
      tags:
      - Models
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Model deleted

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT